@import url(style.css);

section h1{
    text-align: center;
}

main{
    text-align: center;
}

main li{
    display: block;
    margin: 2rem;
    
}

.listaNomes{
    border: 2px solid rgb(129, 104, 216);
    border-radius: 15px;
}

main a{
    text-decoration: none;
    color: rgb(129, 104, 216);
    font-size: 25px;
}